* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
}
body {
  height: auto;
  width: 100%;
  background: rgba(0, 183, 255, 0.4);
}
.main {
  position: absolute;
  padding: 20px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  height: 400px;
  width: 280px;
  background: linear-gradient(
    to bottom right,
    rgb(0, 204, 255),
    rgb(0, 140, 255)
  );
  border-radius: 20px;
}
.sep {
  width: 1px;
  height: 300px;
  position: absolute;
  right: 85px;
  top: 105px;
  background: radial-gradient(rgb(0, 60, 255), rgb(89, 155, 255));
}
#input {
  padding: 10px;
  height: 30px;
  width: 90%;
  color: lightyellow;
  outline: transparent;
  border-radius: 10px;
  border: solid #0051ff 1px;
  background: transparent;
  text-align: right;
}
.num_buttons {
  margin-top: 20px;
  width: 200px;
  height: 320px;
}
.num_button {
  display: inline-block;
  margin: 15px 5px 15px 5px;
  background: grey;
  border: transparent;
  outline: transparent;
  border-radius: 100px;
}
.num_button,
.op_button,
.clear_button,
.equal_button {
  box-shadow: 3px 3px 5px #0051ff;
  background: linear-gradient(to bottom right, #0051ff, #00ccff);
  border: transparent;
  outline: transparent;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}
.num_button:focus,
.op_button:focus,
.clear_button:focus,
.equal_button:focus,
.equal_button:focus {
  animation: click 0.5s ease-in;
}
@keyframes click {
  0% {
    transform: translate(0px, 0px);
    box-shadow: 3px 3px 5px #0051ff;
  }
  50% {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 5px #0051ff;
  }
  100% {
    transform: translate(0px, 0px);
    box-shadow: 3px 3px 5px #0051ff;
  }
}
.op_buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 108px;
  right: 15px;
  float: right;
}
.clear_button {
  margin: 0px 5px 10px 5px;
}
.op_button {
  margin: 0px 5px 9.5px 5px;
}
